@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

.intro{
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px;
  height: 100vh;
}

.nameHeader{
    font-size: 7em;
    font-weight: 700;
    text-align: justify;
}

.subHeaderIntro{
  font-size: 1.8em;
  font-weight: 400;
  font-style: italic;
  font-variant: normal;
  text-align: center;
  color: 	#007c87;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .intro { 
    height: 100vh;
  }

  .nameHeader{
    font-size: 5em;
  }

  .subHeaderIntro{
    font-size: 1.5em;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

  .intro { 
    height: 100vh;
  }

  .nameHeader{
    font-size: 5em;
  }

  .subHeaderIntro{
    font-size: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro { 
    height: 100vh;
  }

  .nameHeader{
    font-size: 5em;
  }

  .subHeaderIntro{
    font-size: 1.5em;
  }
}